__pycache__
*.pyc

data/*/input
data/*/training.npz
data/*/classifier.pickle
*.egg-info
data/*/perpixel
data/*/superpixel
data/*/masks
data/*/features
data/*/trimap/*_modified.png
data/*/trimap/*_vis.jpg
